
  .aboutus{
    background-color: #364C56;
    background-size:cover;
    background-position: center center;
    height:100vh;
    width: 100vw;
  }
  
  .aboutus-container{
    margin: 25vh; 
    background: #3D3B30; /* Fallback */
    background: rgba(61, 59, 48, 0.3);
    display: inline-block;
    padding: 10px; 
    border-radius: 20px; /* add rounded corners */
    color: aliceblue;
    max-height: 400px;
    min-width: 1000px;
    align-self: center;
  }
  
  .thing1{
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
    
    text-align: center;
    margin: 20px;
    align-self: center;
    font-family: 'Abhaya Libre', serif;
    
  }
  
  .thing2{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF9800;
    font-family: 'Abhaya Libre', serif;
    
    text-align: center;
    margin: 15px;
    align-self: center;
  }
  
  .thing3{
    font-size: 20px;
    text-align: center;
    align-self: center;
    font-family: 'Abhaya Libre', serif;
  }
  
  