*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-align: center;
}

.homepage{
  overflow: hidden;
  background-image: url('earth.jpg');
  background-size:cover;
  background-position: center center;
  height:100vh;
  width: 100%;
}

.logo-container{
  margin: 25vh; 
  background: #3D3B30; /* Fallback */
  background: rgba(61, 59, 48, 0.3);
  display: inline-block;
  padding: 10px; 
  border-radius: 20px; /* add rounded corners */
  color: aliceblue;
}

.slogan{
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  
  text-align: center;
  margin: auto;
  align-self: center;
}

.slogan-text{
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  align-self: center;
}